

@media (max-width: 960px){
    main::after {
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 65%) no-repeat;
        width: 100vw; }

        main .personagem .imagem {
            height: 85%;
            
        }

        .conteudo {
            justify-content: flex-end;
            left: 0;
            top: -20%;
            max-width: 100vw;
            padding: 30px;
        }

        .conteudo .nome-personagem {
            font-size: 36px;
        }

        .conteudo .descricao {
            
            max-width: 500px;
        }

        .botoes {
            flex-direction: row;
            align-items: flex-end;
            width: 100%;
            padding: 30px;

        }
    }

    @media (max-width: 560px) {
        
        .botoes .botao img{
            max-width: 60px;
            
        }

        .botoes {
            padding: 80px;
        }
    }

    @media (max-width:290px) {
        
        .botoes .botao img{
        max-width: 45px;}

        .conteudo{
            padding: 10px;
            
        }

          
        
    }

    



    